<%= form_with(model: dream, local: true) do |form| %>
  <% if dream.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dream.errors.count, "error") %> prohibited this dream from being saved:</h2>

      <ul>
        <% dream.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :money_objective %>
    <%= form.number_field :money_objective %>
  </div>

  <div class="field">
    <%= form.label :icon %>
    <%= form.text_field :icon %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
