<% if user_signed_in? %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div id="mySidebar" class="sidebar">
          <div class="text-center">
            <% if current_user.avatar.attached? %>
              <%= image_tag current_user.avatar, class:"rounded-circle" %>
            <% else %>
              <%= image_tag "saitama.jpg", class:"rounded-circle" %>
            <% end %>
            <p class="mt-3 mb-5"> <%= current_user.name.titlecase %> </p>

          </div>
          <a href="javascript:void(0)" onclick="closeNav()" class="closebtn" id="closeBtn"><i class="fa fa-times"></i></a>
          <%= link_to edit_user_registration_path do %>
            <%= fa_icon "cog", class:"ml-5" %> Edit Account
          <% end %>
          <hr />
          <%= link_to dreams_path do %>
            <%= fa_icon "hand-holding-usd", class:"ml-5" %> Dreams
          <% end %>
          <hr />
          <%= link_to destroy_user_session_path, :method => :delete do %>
            <%= fa_icon "sign-out-alt", class:"ml-5" %> Sign Out
          <% end %>
          <hr />
        </div>

        <div id="main">
          <button id="openBtn" onclick="openNav()" class="openbtn"><i class="fas fa-bars"></i></button>
        </div>
      </div>
    </div>
  </div>

<%end%>