<div class="dreams-index">

  <nav class="navbar navbar-dark bg-primary d-flex">
    <div><%= render 'menu_button' %></div>
    <h2 class="mr-5">Dreams</h2>
    <i class="fas fa-search mr-5"></i>
  </nav>
  <p id="notice"><%= notice %></p>
  <div class="container-fluid">
    <h1 class="text-center mt-5 mb-3">My Dreams</h1>
    <% current_user.dreams.each do |dream| %>
      <%= link_to(dream, class: "go-to-dream") do %>

        <div class="card mb-3" style="max-width: 100vw;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <%= image?(dream) %>
            </div>
            <div class="col-md-8">
              <div class="card-body d-flex justify-content-between mt-3">
                <p class="card-title"><%= dream.name %></p>
                <p class="card-text font-weight-bold"><%= number_to_currency(dream.money_objective, precision: 0) %></p>
              </div>
              <div class="d-flex justify-content-between mt-3">
                <p class="card-text ml-4"><small class="text-muted"><%= dream.created_at.to_time.strftime('%B %e %Y') %></small></p>
                <p>Progress: <%= number_to_percentage(percentage_collected(dream), precision: 0)%></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    <% end %>

    <h1 class="text-center mt-5 mb-3">Other's Dreams</h1>

    <% @dreams.each do |dream| %>
      <% if dream.user_id == current_user.id %>
        <% next %>
      <% end %>
      <%= link_to(dream, class: "go-to-dream") do %>

        <div class="card mb-3" style="max-width: 100vw;">
          <div class="row no-gutters">
            <div class="col-4 my-auto">
              <%= image?(dream) %>
            </div>
            <div class="col-8">
              <div class="card-body d-flex justify-content-between mt-3">
                <p class="card-title"><%= dream.name %></p>
                <p class="card-text font-weight-bold"><%= number_to_currency(dream.money_objective, precision: 0) %></p>
              </div>
              <div class="d-flex d-flex justify-content-between mt-3">
                <p class="card-text ml-4"><small class="text-muted"><%= dream.created_at.to_time.strftime('%B %e %Y') %></small></p>
                <p>Progress: <%= number_to_percentage(percentage_collected(dream), precision: 0)%></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    <% end %>
    <br>
  </div>

  <%= link_to 'New Dream', new_dream_path, class:"btn btn-success btn-lg btn-block py-3 responsive-width" %>

</div>
