<div class="row">
<div class="col-12">

<p id="notice"><%= notice %></p>

<%= render 'menu_button' %>

<h1>My Dreams</h1>
<%# TOOD: Also show the ones that I have created %>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Money objective</th>
      <th>Icon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.dreams.each do |dream| %>
      <tr>
        <td><%= dream.name %></td>
        <td>$<%= number_to_currency(dream.money_objective, precision: 0, unit: "USD", format: "%n %u") %></td>
        <% if dream.image.attached? %>
          <td><%= image_tag dream.image, height:"50px" %></td>
        <% else %>
          <td> <%= image_tag "no_image.png", height:"50px" %> </td>
        <% end %>
        <td><%= link_to 'Show', dream %></td>
        <td><%= link_to 'Edit', edit_dream_path(dream) %></td>
        <td><%= link_to 'Destroy', dream, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<h1>Other's Dreams</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Money objective</th>
      <th>Icon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dreams.each do |dream| %>
      <tr>
        <td><%= dream.name %></td>
        <td>$<%= number_to_currency(dream.money_objective, precision: 0, unit: "USD", format: "%n %u") %></td>
        <% if dream.image.attached? %>
          <td><%= image_tag dream.image, height:"50px" %></td>
        <% else %>
          <td> <%= image_tag "no_image.png", height:"50px" %> </td>
        <% end %>
        <td><%= link_to 'Show', dream %></td>
        <td><%= link_to 'Edit', edit_dream_path(dream) %></td>
        <td><%= link_to 'Destroy', dream, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dream', new_dream_path %>

</div>
</div>
