<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @dream.name %>
</p>

<p>
  <strong>Money objective:</strong>
  <%= @dream.money_objective %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @dream.icon %>
</p>

<p>
  <strong>Who is asking for donations:</strong>
  <%= @dream.user.name %>
</p>

<%# TODO: Display name, description, date and ammount donated by x user to the Dream %>

<%= link_to "Make a Donation", path %>
<%= link_to 'Edit', edit_dream_path(@dream) %>
<%= link_to 'Back', dreams_path %>
