<p id="notice"><%= notice %></p>
<%= link_to 'Back', dreams_path %>
<br>
<br>
<p>
  <strong>Name:</strong>
  <%= @dream.name %>
</p>

<p>
  <strong>Money objective:</strong>
  $<%= number_to_currency(@dream.money_objective, precision: 0, unit: "USD", format: "%n %u") %>
</p>

<p>
  <strong>Money collected:</strong>
  $<%= number_to_currency(@dream.donations.dreams_sum_amount(@dream.id), precision: 0, unit: "USD", format: "%n %u") %>
</p>

<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: <%= number_to_percentage(percentage_collected(@dream), precision: 0) %>">Progress <%= number_to_percentage(percentage_collected(@dream), precision: 0)%></div>
</div>

<p>
  <% if @dream.image.attached? %>
    <%= image_tag @dream.image, height:"50px" %>
  <% else %>
    <%= image_tag "no_image.png", height:"50px" %>
  <% end %>
</p>

<p>
  <strong>Who is asking for donations:</strong>
  <%= @dream.user.name.upcase %>
</p>

<p>
  <strong>People that have donated:</strong>
  <br>
  <% @dream.donations.each do |donation| %>
    <span>Donor: <%= donation.author.name.upcase %> </span>
    <span>Message: <%= donation.name %> </span>
    <span>Donation amount: $<%= number_to_currency(donation.amount, precision: 0, unit: "USD", format: "%n %u") %> </span>
    <span>Donated at: <%= donation.created_at.to_time.strftime('%B %e %Y at %l:%M %p') %> </span>
    <br>
  <% end %>
</p>

<%= link_to "Make a Donation", new_dream_donation_path(dream_id: @dream) %>
<%= link_to 'Edit', edit_dream_path(@dream) %>
