<p id="notice"><%= notice %></p>
<%= link_to 'Back', dreams_path %>
<br>
<br>
<p>
  <strong>Name:</strong>
  <%= @dream.name %>
</p>

<p>
  <strong>Money objective:</strong>
  <%= @dream.money_objective %>
</p>

<p>
  <strong>Money collected:</strong>
  <%= @dream.donations.dreams_sum_amount(@dream.id) %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @dream.icon %>
</p>

<p>
  <strong>Who is asking for donations:</strong>
  <%= @dream.user.name %>
</p>

<p>
  <strong>People that have donated:</strong>
  <br>
  <% @dream.donations.each do |donation| %>
    <span>Donor: <%= donation.author.name.upcase %> </span>
    <span>Message: <%= donation.name %> </span>
    <span>Donation amount: $ <%= donation.amount %> </span>
    <span>Donated at: <%= donation.created_at %> </span>
    <br>
  <% end %>
</p>


<%# TODO: Display name, description, date and ammount donated by x user to the Dream %>

<%= link_to "Make a Donation", new_dream_donation_path(dream_id: @dream) %>
<%= link_to 'Edit', edit_dream_path(@dream) %>
