<div class="edit-user">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <nav class="navbar navbar-dark bg-primary d-flex">
      <%= link_to "Back", root_path %>
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
      <div class="actions">
          <%= f.submit "Update", class:"bg-primary text-white" %>
      </div>
    </nav>

  <div class="container-fluid text-center sign-up-credentials mt-5">

    <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :avatar, "Upload a new profile picture:"%><br />
          <%= f.file_field :avatar, class:"overflow-auto" %>
        </div>
        <br>
        <div class="field">
          <%= f.text_field :name, autofocus: true, placeholder:"Full Name" %>
        </div>
        <br>
        <div class="field">
          <%= f.email_field :email, autocomplete: "email", placeholder:"Email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "current-password", placeholder:"Current Password" %>
        </div>

        
    <% end %>
    <br>
    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"bg-danger text-white" %></p>
  </div>
</div>

