<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @donation.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @donation.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @donation.amount %>
</p>

<p>
  <strong>Dream:</strong>
  <%= @donation.dream_id %>
</p>

<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
