<div class="log-in">
  <%= image_tag 'logo.png' %>
  <div class="container-fluid fixed-bottom">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class:"credentials" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder:"Password", class:"credentials" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me, class:"remember-me" %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "Log in", class:"btn btn-primary btn-lg btn-block py-3 responsive-width" %>
      </div>
      <br>
    <% end %>
      <%= render "devise/shared/links" %>
  </div>
</div>

