<!DOCTYPE html>
<html>
  <head>
    <title>DreamFunding</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'sidebar', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if user_signed_in? %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 d-flex text-center ">
            <div id="mySidebar" class="sidebar">
             <div>
              <% if current_user.avatar.attached? %>
                  <%= image_tag current_user.avatar, height:500, width:500 %>
                  <p class="mt-3"> <%= current_user.name.titlecase %> </p>
              <% end %>
              </div>

              <a href="javascript:void(0)" onclick="closeNav()" class="closebtn" id="closeBtn">&times;</a>
              <%= link_to  "Edit Account", edit_user_registration_path %>
              <%= link_to  "My Dreams" %>
              <%= link_to  "Dreams", dreams_path %>
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
            </div>

            <div id="main">
              <button id="openBtn" onclick="openNav()" class="openbtn">&#9776; </button>
            </div>
          </div>
        </div>
      </div>

    <%end%>

  <div class="container-fluid text-center">
    <i class="fas fa-times"></i>
    <%= yield %>
  </div>

  </body>
</html>
